---
eleventyNavigation:
  key: Home
  order: 1
---

{% extends 'layouts/home.njk' %}
{% if bodyClass is not defined %}
  {% set bodyClass = '' %}
{% endif %}
{% block content %}
  <section class="hero">
    <h1>{{ home.h1 | safe }}</h1>
    <p class="lead h3">{{ home.lead }}</p>
  </section>
  <h2>📖 Latest
    {% if collections.notebooks.length == 1 %}notebook{% else %}notebooks{% endif %}
  </h2>
  {% set postslist = collections.notebooks | head(-6) | reverse %}
  {% include "layouts/partials/posts-list.njk" %}

  <p>More notebooks can be found at
    <a class="underline-dashed" href="{{ '/notebooks/' | url }}">notebook</a>.</p>
{% endblock %}